@font-face {
    font-family: nb;
    src: url(./NBInternationalProBoo.ttf);
}

@font-face {
    font-family: rejouice;
    src: url(./Rejouice-Headline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: nb;
}

html,
body {
    width: 100%;
    height: 100%;
}

#page1 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: rgb(21, 238, 238);

}

#cursor {
    height: 7.5vw;
    width: 7.5vw;
    background-color: #ff5f38;
    border-radius: 50%;
    position: fixed;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50% ,-50%);

}
 
#cursor h5{
    font-size: 1.2vw;
    font-weight: 500;

}

#page1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
}

.page1_content {
    width: 100%;
    height: 100%;
    /* background-color: black; */
    position: relative;
    z-index: 10;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    /* padding-bottom: 5vw; */
}

nav {
    display: flex;
    width: 100%;
    /* background-color: red; */
    justify-content: space-between;
    align-items: centre;
    padding: 2vw 3vw;
}

nav h3 {
    font-size: 1.3vw;
    font-weight: 100;

}

nav h4 {
    font-size: 1.5vw;
    font-weight: 200;

}

.page1_content h1 {
    font-family: rejouice;
    font-size: 26vw;
    font-weight: 100;
    line-height: 20vw;
}

.page1_content h1 span {
    font-family: rejouice;
    /* font-size: 26vw;
    font-weight: 100;
    line-height: 20vw; */
}


 /* page2 css starts from here */

 #page2{
    width: 100%;
    height: 100vh;
    background-color: antiquewhite;
 }